#!/bin/bash

# Array of functions to load
declare -a arr=("alerts" "btfix" "chmodc" "dockcmd" "nap" "trim" "youtube")

# Loop through list of functions and attempt to load them
for cmd in "${arr[@]}"
do
    if [ -f "$DOTFILES/functions/$cmd" ]; then
        . "$DOTFILES/functions/$cmd"
    else
        echo $(error "ERROR: Could not load your personal function [$cmd] it does not exist.")
    fi
done
